<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页脚</title>
</head>
<body>

    <!-- 页脚内容 -->
    <footer id="site-footer">
        <div>
            <p>"美丽省钱坊"，因为懂你，所以更贴心。我们相信，美丽无需昂贵，时尚可以经济。让我们一起聪明消费，享受美丽生活！</p>


        </div>
    </footer>

    <script>
        // JavaScript 用于动态添加内容到页脚
        document.addEventListener('DOMContentLoaded', function() {
            var footer = document.getElementById('site-footer');
            var currentDate = new Date().getFullYear();
            footer.innerHTML += '<p>2024: ' + currentDate + '</p>';
        });
    </script>

</body>
</html>