<a href="/about/">首页</a>
<a href="/books/">今日女装</a>
<a href="/blog/">搭配推荐</a>
<a href="/notes/">好货分享</a>
<a href="/hrsf/">关于我们</a>

<style>
a{text: emphasis 10en;
text-align: right;
color: rgb(95, 95, 134)
;

}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简单排版编程语言示例</title>
    <style>
        /* 基础样式 */
        .clickable-text {
            cursor: pointer;
        }
    </style>
    <script>
        // 定义颜色变化函数
        function changeColor(element, newColor) {
            element.style.color = newColor;
        }
    </script>
</head>
</html>


</style>